/* bootstrap overide */

div .navbar {
	min-height: 10px;
	margin-bottom: 0px;
	height: 10px;
}

/* bootstrap overide */

a:hover {
	text-decoration: none;
}

#Content {
	margin-top: 40px;
	margin-bottom: 200px;
	min-height: 900px;
	height: auto !important;
	height: 900px;	
}

#articleBody {
	margin-top: 30px;
	margin-bottom: 30px;
}

#articleBody p {
    line-height: 200%;
}

#articleBody h3 {
	margin-top: 40px;
	margin-bottom: 40px;
}

#articleBody .article-image {
	margin-top: 15px !important;
	margin-bottom: 20px !important;
}

#articleBody .app-introduce {
	height: 150px;
	margin-top: 25px;
}

#articleBody .app-image {
	float: left;
	margin-right: 10px;
}

#articleBody .app-right {
	padding-left: 85px;
	padding-top: 20px;
}

.container {
	max-width: none !important;
	width: 970px;
}

.twitter-share-button {
    width: 78px !important;
}

#disqus_thread {
	margin-top: 30px;
}
